<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeTrivia</title>
</head>
<body>
<h1>PokeTrivia</h1>
<!-- Agrega esto dentro del div "pokemon-info" -->
<div id="cuenta-regresiva"></div>
<div id="pokemon-info">


    <!-- Aquí se mostrarán los datos del Pokémon -->
</div>

<button onclick="obtenerDatosPokemon()">Obtener Pokémon Aleatorio</button>
<script src="script.js"></script>
</body>
</html>
